@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Edu VIC WA NT Beginner", cursive;
    box-sizing: border-box;
      font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
 


.navbar {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.log{
    color: blueviolet;
}
.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 8px 12px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
    color: blueviolet;
}

@media (max-width: 893px) {
    .menu-icon {
        display: flex;
    }

    .nav-links {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 90px;
        background-color: #333;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }
}

/* #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 25px;
    background: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.left {
    color: cadetblue;
    font-weight: 500;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left span {
    font-size: 36px;
    color: white;
    font-weight: 500;
    font-family: 'Rubik Wet Paint', cursive !important;
}

span.log {
    font-size: 36px;
    color: blueviolet;
    font-weight: bolder;
    font-family: 'Rubik Wet Paint', cursive !important;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar li {
    display: inline;
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active {
    color: blueviolet;
} */

h1.header {
    text-align: center;
    font-size: 45px;
    padding: 2%;
    color: #986fbf;
}
.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    height: auto;
    margin: auto;
    position: relative;
    width: 75%;
    overflow: hidden;
}

.slide-container {
    display: flex;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide-img {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide-img img {
    width: 100%;
    height: auto;
    border-radius: 20%;
    transition: transform 1s;
}

.slide-img img:hover {
    transform: translateZ(20px);
}

.background {
    height: 100vh;
    width: 100%;
    background: url(/background1.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 2em;
}
.color{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slider {
    width: 100%;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
}

.slides {
    display: flex;
    width: 500%;
    height: 80vh;
    transition: transform 0.6s ease;
}

.slide {
    width: 20%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 80vh;
}

.text-overlay {
    position: absolute;
    bottom: 40%;
    left: 33%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.text-overlay h2 {
    margin: 0;
    font-size: 34px;
}

.text-overlay p {
    margin: 5px 0 0;
    font-size: 28px;
    text-align: center;
}


input[type="radio"] {
    display: none;
}


.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.bar {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input:checked + .bar {
    background-color: white;
}

/* Slider animation */
#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-20%);
}

#slide3:checked ~ .slides {
    transform: translateX(-40%);
}

#slide4:checked ~ .slides {
    transform: translateX(-60%);
}

#slide5:checked ~ .slides {
    transform: translateX(-80%);
}

.background h1{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: azure;
  font-size: 45px;
  line-height: 3em;
}
.background h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 45px;
  color: rgb(156, 19, 49)
}
.third{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.four{
    display: flex;
    margin-left: 1em;
    justify-content: center;
    margin-top: 5em;
}
.movies{
    display: flex;
    width: 90%;

}
.content{
    height: auto;
   border: 2px solid blueviolet;
   margin-right: 4em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 2em;
}
.con1{
    font-size: 26px;
   font-family: cursive;
    color: black;
}
.con2{
    font-size: 16px;
    font-weight: 400;
    width: 15em;
    color: rgb(120, 83, 155);
}
.main-scroll-bar{
    width: 80%;
    /* height: 19em; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.scroll-images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
  gap: 20px;
}
.child{
    min-width: 220px;
    height: 300px;
    display: flex;
    cursor: pointer;
}
.scroll-images::-webkit-scrollbar{
    -webkit-appearance: none;
}
.child img{
    width: 300px;
    height:300px;
}
.card-container {
    display: flex;
    justify-content: center;
  padding-top: 7em;
    width: 80%;
    margin: auto;
    gap: 20px;
}
.cardbox{
    height: auto;
   border: 2px solid blueviolet;
  border-radius: 2em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 2em;
}
.cont{
    font-size: 26px;
   font-family: cursive;
    color: black;
}
.book {
    /* width: 250px; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
}

.book img {
    width: 100%;
    height: 50vh;
}

.book h3 {
    font-size: 24px;
    margin: 10px 0 0;
    font-weight: bold;
    text-transform: uppercase;
}

.book p {
    font-size: 16px;
    color: #555;
    margin: 5px 0 20px;
}

.discount {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

.buy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
    flex-wrap: wrap;
}
.buy img {
    height: 20em;
    margin-top: 2em;
    width: 14em;
    border-radius: 16px;
}
.buy img:hover{
    transform: scale(1.09);
    transition: all .3s;
}
.buy1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
    flex-wrap: wrap;
}
.buy1 img {
    height: 20em;
    margin-top: 2em;
    width: 14em;
    border-radius: 16px;
}
.buy1 img:hover{
    transform: scale(1.09);
    transition: all .3s;
}
.card1 {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 21px 5px #837b8b;
}
h2.card-title1 {
    text-align: center;
    color: blueviolet;
    line-height: 2em;
}
button.but1 {
    width: 8em;
    height: 3em;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 10px;
}
.but1:hover{
    background-color: blueviolet;
}
.second{
    display: flex;
    padding: 12px;
    background: #9f9f9f;
}
.concern{
    width: 50%;
}
.concern img{
    width: 70%;
}
.column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shopbut {
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
}
#shop{
        width: 8em;
        height: 2em;
        font-size: 24px;
}
.column h1 {
    color: aliceblue;
    font-size: 40px;
    line-height: 2em;
}
.hover{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
     margin-top: 4em;
}
.card-1 {
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-1 img {
    width: 100%;
    height: auto;
}
.card-content-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}
.heading h1 {
    text-align: center;
    margin-top: 2em;
    font-family: 'FontAwesome';
}
.card-1:hover .card-content-1 {
    opacity: 1;
}
.card-title1 {
    font-size: 1.5em;
    margin: 0;
}
.card-text1 {
    margin: 0;
    font-size: 1em;
}
.card {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 21px 5px #837b8b;
}
h2.card-title {
    text-align: center;
    color: blueviolet;
    line-height: 2em;
}
.card-title-1{
    text-align: center;
    line-height: 2em;
}
button.but {
    width: 8em;
    height: 3em;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 10px;
}
.but:hover{
    background-color: blueviolet;
}
footer {
    margin-top: 4em;
    background-color:black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h3 {
    margin-top: 0;
    font-size: 30px;
    line-height: 2em;
}
.footer-section p{
    font-size: 20px;
    line-height: 2em;
}
.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin: 0 10px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

.social-media a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:blueviolet;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #d73a54;
}
@media only screen and (min-width:760px) and (max-width:960px){
    .hover {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4em;
        flex-wrap: wrap;
    }
    .slides {
        display: flex;
        width: 500%;
        height: 50vh;
        transition: transform 0.6s ease;
    }
    .text-overlay {
        position: absolute;
        bottom: 43%;
        left: 26%;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 5px;
    }
    .column h1 {
        color: aliceblue;
        font-size: 25px;
        line-height: 2em;
    }
    .slide-img img {
        width: 82%;
        height: auto;
        border-radius: 50%;
        transition: transform 1s;
    }
    
    .hover {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        margin-top: 4em;
        flex-wrap: wrap;
    }
    .buy {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4em;
        flex-wrap: wrap;
        gap: 62px;
    }
    .buy1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4em;
        flex-wrap: wrap;
        gap: 71px;
    }
    .card-container {
        display: flex;
        justify-content: center;
      padding-top: 3em;
        gap: 70px;
        flex-wrap: wrap;
    }
    .card {
        width: 40%;
        text-align: center;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 1px 21px 5px #837b8b;
    }

    .card1 {
        width: 40%;
        text-align: center;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 1px 21px 5px #837b8b;
    }
    .card-1 {
        width: 45%;
        position: relative;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont {
        font-size: 50px;
        font-family: cursive;
        color: black;
    }
    .book {
        width: 35%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: white;
        text-align: center;
    }
    .cardbox {
        width: 37%;
        height: auto;
        border: 2px solid blueviolet;
        border-radius: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;
    }
    .card {
        text-align: center;
           padding:23px;
            border-radius: 20px;
            flex-wrap: wrap;
            box-shadow: 10px 10px 10px #837b8b;
    }
    .book img {
        width: 100%;
        height: 50vh;
    }
    .content{
        padding: 0px;
    }
}
@media only screen and (min-width:480px) and (max-width:760px){
    .column h1 {
        color: aliceblue;
        font-size: 16px;
        line-height: 2em;
    }
    #shop {
        width: 8em;
        height: 2em;
        font-size: 14px;
    }
    .logo {
        color: #fff;
        font-size: 25px;
        font-weight: bold;
    }
    .hover {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4em;
        flex-wrap: wrap;
        gap: 30px;
    }
    .book h3 {
        font-size: 18px;
        margin: 10px 0 0;
        font-weight: bold;
        text-transform: uppercase;
    }
    .book {
        width: 80%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: white;
        text-align: center;
    }
    .cardbox {
        width: 37%;
        height: auto;
        border: 2px solid blueviolet;
        border-radius: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;
    }
    .book img {
        width: 100%;
        height: 70vh;
    }
    .slides {
        display: flex;
        width: 500%;
        height: 40vh;
        transition: transform 0.6s ease;
    }
    .text-overlay {
        position: absolute;
        bottom: 40%;
        left: 20%;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 5px;
    }
    .card-container {
        display: flex;
        justify-content: center;
      padding-top: 4em;
        gap: 20px;
        flex-wrap: wrap;
    }
    .content {
        height: auto;
        border: 2px solid blueviolet;
        margin-right: 2em;
        padding: 1em;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .con1 {
        font-size: 16px;
        font-family: cursive;
        color: black;
    }
    .text-overlay h2 {
        margin: 0;
        font-size: 26px;
    }
    .buy {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 30px;
        margin: auto;
        margin-top: 4em;
        flex-wrap: wrap;
    }
    .buy1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 30px;
        margin: auto;
        margin-top: 4em;
        flex-wrap: wrap;
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media only screen and (max-width:480px){

    .slide-img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: transform 1s;
    }
    .background h1 {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: azure;
        font-size: 35px;
    }
    .book {
        width: 80%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: white;
        text-align: center;
    }
    .cardbox {
        width: 37%;
        height: auto;
        border: 2px solid blueviolet;
        border-radius: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;
    }
    .book img {
        width: 100%;
        height: 30vh;
    }
    .slides {
        display: flex;
        width: 500%;
        height: 40vh;
        transition: transform 0.6s ease;
    }
    .text-overlay {
        position: absolute;
        bottom: 40%;
        left: 20%;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 5px;
    }
    .card-container {
        display: flex;
        justify-content: center;
      padding-top: 4em;
        gap: 20px;
        flex-wrap: wrap;
    }
    .text-overlay h2 {
        margin: 0;
        font-size: 20px;
    }
    .text-overlay p {
        margin: 5px 0 0;
        font-size: 18px;
        text-align: center;
    }
    .cont {
        font-size: 25px;
        font-family: cursive;
        color: black;
    }
    .column h1 {
        color: aliceblue;
        font-size: 12px;
        line-height: 2em;
    }
    .buy1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4em;
        gap: 40px;
        flex-wrap: wrap;
    }
    .buy {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4em;
        gap: 40px;
        flex-wrap: wrap;
    }
    .content {
        height: auto;
        border: 2px solid blueviolet;
        margin-right: 1em;
        padding: 0em;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .con1 {
        font-size: 16px;
        padding: 1em;
        font-family: cursive;
        color: black;
    }
    .child img {
        width: 180px;
        height: 300px;
    }
    .hover {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        margin-top: 4em;
    }
    .sec {
        display: flex;
        margin: auto;
        flex-direction: column;
        gap: 30px;
    }
    .buy {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4em;
        flex-wrap: wrap;
        gap: 25px;
    }
    button#shop {
        font-size: 12px;
    }
    h1.header {
        text-align: center;
        font-size: 30px;
        padding: 2%;
        color: #986fbf;
    }
    .four {
        display: flex;
        margin-left: 1em;
        justify-content: center;
        margin-top: 5em;
        height: 20vh;
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        flex-direction: column;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .slide img {
        width: 100%;
        height: 38vh;
    }
    .book h3 {
        font-size: 14px;
        margin: 10px 0 0;
        font-weight: bold;
        text-transform: uppercase;
    }
    .logo {
        color: #fff;
        font-size: 25px;
        font-weight: bold;
    }
}
@media only screen and (max-width:360px){
    .logo {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }
    .card-container {
        display: flex;
        justify-content: center;
        padding-top: 4em;
        gap: 20px;
        flex-wrap: wrap;
    }
    .child {
        min-width: 200px;
        height: 300px;
        display: flex;
        cursor: pointer;
    }
    .slide-img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: transform 1s;
    }
    .heading h1 {
        text-align: center;
        margin-top: 2em;
        font-family: 'FontAwesome';
        font-size: 20px;
    }
    .con1{
        font-size: 10px;
    }
    .child img {
        width: 180px;
        height: 300px;
    }
    .column h1 {
        color: aliceblue;
        font-size: 12px;
        line-height: 2em;
    }
    .book {
        width: 80%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: white;
        text-align: center;
    }
    .text-overlay p {
        margin: 5px 0 0;
        font-size: 12px;
        text-align: center;
    }
    .text-overlay h2 {
        margin: 0;
        font-size: 14px;
    }
    .slide img {
        width: 100%;
        height: 38vh;
    }
    .buy1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4em;
        gap: 40px;
        flex-wrap: wrap;
    }
    .four {
        display: flex;
        margin-left: 1em;
        justify-content: center;
        margin-top: 5em;
        height: 20vh;
    }
    .buy {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4em;
        gap: 40px;
        flex-wrap: wrap;
    }
    .background h1 {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: azure;
        font-size: 35px;
        line-height: 1em;
    }
    .background h3 {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 38px;
        color: rgb(156, 19, 49);
    }
    .sec {
        display: flex;
        margin: auto;
        flex-direction: column;
        gap: 20px;
   }
   button#shop {
    font-size: 12px;
}
h1.header {
    text-align: center;
    font-size: 25px;
    padding: 2%;
    color: #986fbf;
}
   .hover {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
    flex-wrap: wrap;
    gap: 20px;
}
.buy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
    flex-wrap: wrap;
    gap: 20px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
}
.logo {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}
}
